body{
  background-color: mistyrose;
}
h1{
  color: darkmagenta;
    text-align: center;
    font-family: Palatino, URW Palladio L, serif;
}
h2{
  color: darkmagenta;
    text-align: center;
}

button {
    background-color: hotpink;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-top: 50px;
    cursor: pointer;
     transition: 0.4s;
  }
  button:hover{
    background-color: lightpink;
  }
  .flex-container{
    display: flex;
    justify-content: center;
  }
